# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [120]:
import pandas as pd
import sqlite3

#Aqui agrega la conexión a la base de datos
conexion = sqlite3.connect("Salaries.sqlite")
#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM salaries",conexion)

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [121]:
##Se busca las columnas "TotalPayBenefits" y "EmployeeName",se ordenan los valores por el TotalPayBenefits de manera descendente y se toma los 10 primeros resultados
biggestPayEmployees = df[["TotalPayBenefits","EmployeeName"]].sort_values(by="TotalPayBenefits",ascending=False).head(10)

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [122]:
##Se convierte la columna OvertimePay en un tipo númerico para realizar una comparación aritmetica
df.OvertimePay = pd.to_numeric(df['OvertimePay'], errors='coerce')

##Se filtra por aquellos que tengan más de 
overtimeEmployees = df[df["OvertimePay"] > 50000]
print(overtimeEmployees.head(10))

    Id       EmployeeName                                          JobTitle  \
1    2       GARY JIMENEZ                   CAPTAIN III (POLICE DEPARTMENT)
2    3     ALBERT PARDINI                   CAPTAIN III (POLICE DEPARTMENT)
3    4  CHRISTOPHER CHONG              WIRE ROPE CABLE MAINTENANCE MECHANIC
6    7          ALSON LEE                BATTALION CHIEF, (FIRE DEPARTMENT)
8    9     MICHAEL MORRIS                BATTALION CHIEF, (FIRE DEPARTMENT)
10  11      ARTHUR KENNEY  ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11  12   PATRICIA JACKSON                   CAPTAIN III (POLICE DEPARTMENT)
14  15     DAVID FRANKLIN                BATTALION CHIEF, (FIRE DEPARTMENT)
15  16    RICHARD CORRIEA                COMMANDER III, (POLICE DEPARTMENT)
17  18     SEBASTIAN WONG             CAPTAIN, EMERGENCYCY MEDICAL SERVICES

      BasePay  OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
1   155966.02    245131.88  137811.38     None  538909.28         538909.28
2   212739.13    106088.18    16452.6     None  335279.91         335279.91
3     77916.0     56120.71   198306.9     None  332343.61         332343.61
6    92492.01     89062.90  134426.14     None  315981.05         315981.05
8   176932.64     86362.68   40132.23     None  303427.55         303427.55
10  194999.39     71344.88    33149.9     None  299494.17         299494.17
11    99722.0     87082.62   110804.3     None  297608.92         297608.92
14  174872.64     74050.30   37424.11     None  286347.05         286347.05
15  198778.01     73478.20   13957.65     None  286213.86         286213.86
17  140546.87    119397.26   18625.08     None  278569.21         278569.21

    Year Notes         Agency Status
1   2011  None  San Francisco   None
2   2011  None  San Francisco   None
3   2011  None  San Francisco   None
6   2011  None  San Francisco   None
8   2011  None  San Francisco   None
10  2011  None  San Francisco   None
11  2011  None  San Francisco   None
14  2011  None  San Francisco   None
15  2011  None  San Francisco   None
17  2011  None  San Francisco   None

3. **Contar cuántos empleados únicos hay por año**

In [ ]:
#Se agrupa el dataframe por año y se cuenta la cantidad de nombres de empleados únicos que hay por cada año.
df.groupby(by="Year")['EmployeeName'].nunique()

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [123]:
#todo

5. **Mostrar el salario total (TotalPay) promedio por año**

In [124]:
#todo

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [144]:
#Se utiliza la función .to_csv() y se le pasa la ubicación de dónde queremos que esté y el nombre para el archivo
df.to_csv("./Salaries.csv")